.commit-item-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.commit-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px 8px 3px 16px;
}

.padding-none {
    padding: 0;
}

.commit-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

.commit-item-header {
    display: flex;
    padding-bottom: 8px;
}

.new-line {
    white-space: pre-wrap;
}

.hash-item {
    display: flex;
    gap: 5px;
    align-items: center;
}

.hash {
    align-self: center;

    font-size: 0.9em;
    color: #4198ff;
}

.commit-item-bottom {
    display: flex;
    gap: 16px;
    align-items: center;

}