
.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.flex{
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.max-height {
    height: 100%;
}

#branch-select-form-container{
    padding: 16px 8px;
}



#branch-select{
    background: white;
}

#branch-select-label{
    color: #0d64ea;
}