
html, body, #root {
    width: 100%;
    color: #e0dfdf;
    background: #646464;

}

.list-style-none {
    list-style: none;
}

.list-scroll {
    overflow-y: auto;
    overflow-x: clip;
}

.max-width {
    width: 100%;
}

.scrollbar {
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #47a8c9;
}

.scrollbar::-webkit-scrollbar {
    background: #313131;
    scrollbar-color: black transparent;
    width: 8px;
}
