.stage-label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 0;
    justify-content: space-between;
}

.scm-buttons{
    display: flex;
    gap: 5px;
}

.un-stage-button{
    transform: translate(3px, 0);
}